<div class="wrapper">
    <form class="form-signin" (submit)="login($event, username.value, password.value)">
        <h2 class="form-signin-heading">Please SignUp</h2>
        <input type="text" class="form-control" #username class="form-control" id="username" placeholder="Username" required="" autofocus="" />
        <input type="password" class="form-control" #password class="form-control" id="password" placeholder="Password" required="" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
</div>
