<h2>Detail</h2>

<div class="row">
    <div class="col-xs-3">Title</div>
    <div class="col-xs-9  pull-left">{{ item?.title }}</div>
</div>

<div class="row">
    <div class="col-xs-3">Description</div>
    <div class="col-xs-9 pull-left">{{ item?.description }}</div>
</div>

<div class="row">
    <div class="col-xs-3">Embargo Date</div>
    <div class="col-xs-9 pull-left">{{ item?.embargo_date }}</div>
</div>

<div class="row">
    <div class="col-xs-3">Body</div>
    <div class="col-xs-9 pull-left">{{item?.body}}</div>
</div>

<div class="row">
    <div class="col-xs-3">Publish Date</div>
    <div class="col-xs-9 pull-left">{{ item?.publish_date }}</div>
</div>

<div class="row">
    <div class="col-xs-3">Last Modified</div>
    <div class="col-xs-9 pull-left">{{ item?.last_modified }}</div>
</div>

<button class="btn btn-default" (click)="goBack()">Back</button>
